<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %X{traceId:-} %X{spanId:-} %highlight(%-5level) [%thread] %cyan(%logger{15}) - %M - %marker - %msg%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="local,test,default">

        <logger name="org.springframework" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="com" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="ru.alfabank.ufr" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>